# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/nestjs-challenge

# Gateway Configuration
GATEWAY_PORT=3000

# Authentication Microservice Configuration
AUTH_TCP_HOST=localhost
AUTH_TCP_PORT=3001

# JWT Configuration
JWT_SECRET=secret
JWT_EXPIRATION=1h